    /* Variables Colores */

   :root{
        --nav-bar-color: #f19a41;
        --color-title: #0a0a23;
        --nav-bar-desktop: #000;


   } 



/* Global Configs*/
*{
    
    padding: 0;
    margin: 0;


}

html, body{
    scroll-behavior: smooth;
    max-width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color:black;

}
li{
    list-style: none;
}

 



@media screen and (max-width:400px ) {
    .main-nav-bar{
        display: none;
    }
    .main-header , #nav-bar{
        overflow: hidden;
        position: sticky;
        z-index: 100;
        top: 0;
        width: 100%;
        height: 50px;
        background-color: lightcoral;
        padding: 0;
        margin: 0;
    }

    .brand{
        display: inline-block;
        position: relative;
        float: left;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        margin: 0;
        height: inherit;
        display:flex
        

    }
    .brand b{
       margin: auto;
    }

    .responsive-nav-bar{

        position: relative;
        float: right;
        height: inherit;
        width: 60%;
        display: flex;
    

    }
    .responsive-nav-opt{
        display: flex;
        flex-direction: row;
        width: 80%;


    }
    .responsive-nav-opt > .nav-opt-box{
        width: 25%;
        margin: auto;
    }

    .main-title{
        background-color: bisque;
        width: 100%;
        height: 100px;
        position: relative;
        text-align: center;
      
    
    }
    h1{
        width: inherit;
        height: inherit;
        line-height: 50px;
    }

    .content{
        width: inherit;
        display: flex;
        flex-direction: column;
        background-color: aqua;
;
    }
    .content > .box{
        text-align: center;
        background-color: aliceblue;
        margin-top: 10px;
        margin-bottom: 10px;
   
    }

    .main-page-services	{
        width: 100%;
        height: 100vh;
        background-color: navajowhite;
        display: flex;
        flex-direction: column;
        


    }

    .main-page-services-article{
        width: inherit;
        height: fit-content;
        display: flex;
        flex-direction: column;
        background-color: azure;
        margin-top: 10px;
        margin-bottom: 10px;
    



    }
    
    .main-page-services-article-title{
        text-align: center;
    }

    .main-page-services-article p {
        padding-left:10px ;
        padding-right: 10px;

    }
    
    .main-page-services-article .btn-service{

        margin-left: auto;
        margin-right: auto;
        



    }

    .location-page{
        display: flex;
        flex-direction: column;
        background-color: red;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .location-info{
        display: flex;
        flex-direction: column-reverse;
        
    }
    .form-main-container{
        display: flex;
        flex-direction: column;
        background-color: beige;


    }

    .form-main-container > h2{
        padding-left: 5px;
    }

    .form-container{
        display: flex;
        flex-direction: column;
    }
    .form-item{
        width: 65%;
        margin: 5px;
    }


    }



    /* Responsive with Grid */
    @media screen and (min-width:728px) and (max-width:1024px) {

        /* LO QUE NO QUIERO VER */

        .main-nav-bar{
            display: none;
            
        }
    
        #menuToggle ,.fa-bars{
            display: none;
        }

        .main-body{
            display: grid;
            grid-template-columns: 7% 90%;
        }


        /* NAV BAR  */

        .main-header{
            width: 7%;
            height: 100%;
            background-color: var(--nav-bar-color);
            position: fixed;
            display:flex;
            flex-direction: column-reverse;
        }

        .main-content{
            grid-column-start: 2;
            column-gap: 0;

        }

        .responsive-nav-bar{
          
            height: 100%;
            display: flex;
            flex-direction: column;
        

        }
        .responsive-nav-opt{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: inherit;
            height: inherit;
            text-align: center;
            margin-left: auto;
            margin-right: auto;


        }
        .nav-opt > .nav-opt-box{
            width: 13vw;
            
            
        }
        .nav-opt-box > a ,i {
            margin-right: auto;
            font-size: 1.8rem;
        }


         /* TITULO VERSION TABLET  */

        .main-title{
            background-color:var(--color-title);
            width: 107%;
            margin-right: 0;
            height: 100vh;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            align-items: center;
            
        }
        /* .main-title > h1{
            margin: auto;
        } */
        .title{
            width: 60%;
            height: inherit;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            
        }

        .title:hover{
            background-size: 100% 100%;
            transition: all .6s;
        }

        .title h1{
            font-size: 70px;
            text-align: center;
            padding: 0;
            color: #f1f1f1;
            background-position: left;
            background-size: 0% 100%;
            background-image: linear-gradient(to right, transparent, #f19a41) ;
            border-radius: 25px;

        }
        .title p{
            margin: 0%;
            color: #f1f1f1;
            font-size: 50px;

        }

        .title h1:hover{
            background-size: 100% 100%;
            transition: all .6s;

        }

        .title p:hover{
            text-decoration: underline #f19a41 ;
            transition: all .6s;
        }


        .title-image{
            width: 40%;
            height: inherit;
        }

        .title-image ,img{
            width: 500px;
            height: 500px;
        
        }

        /* CONTENIDO ACERCA DE MI TABLET  */

        .content{
            display:flex;
            margin-bottom: 20px;

        }
        #about-me{
            /* height: 3vh; */
        }

        .content-title{
            background-color: var(--color-title);
            margin-top: 0vh;
            padding-top: 2vh;
            margin-bottom: 3vh;
            color: #f1f1f1;
            text-align: left;
            font-size: 65px;
            height: 15vh;
            width: 100vw;
        }
        

        .content{
            background-color: beige;
            width: 106%;
            height: 89vh;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10vh;
        }

        .box, h2{
            text-align: center;
            
        }

        .box  p{
            text-align: justify;
            padding: 20px;
        }



        /* CONTENIDO PROYECTOS TABLET  */
        #projects-box{
            height: 0vh;
        }

        .projects-title{
            background-color: var(--color-title);
            margin-top: 0vh;
            
            color: #f1f1f1;
            text-align: left;
            font-size: 60px;
            height: 15vh;
            width: 100vw;
            padding-left: 2vw;
        }

        .main-page-services{
            margin-bottom: 1vw;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        .main-page-services-article{
            margin-top: 2vh;
            border: 2px solid black;
            width: 50%;
            height: 30vh;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .main-page-services-article p{
            flex-grow: .5;
            padding-left: 10px;
            padding-right: 10px;
            text-align: justify;
        }
        .btn{
            margin: auto !important;

        }

        .location-page{
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
        }
        .location-info{
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
        }
        

    }




           /* Desktop style  */

    @media screen  and (min-width:1025px) {



        /* Borro lo que no quiero */
        #menuToggle{
            display: none;
        }
        #menuToggle ~ .menu-icon{
            display: none;
        }

        .responsive-nav-bar{
            display: none;
        }
        
        .fa-house{
            display: none;
        }
        .fa-user-group{
            display: none;
        }
         .fa-location-dot{
             display: none;
         }
        .fa-envelope{
            display: none;
        }
        .brand{
            display: none;
        }

        /* Nav Bar */

        .main-header{
            color: #f1f1f1;
            display: flex;
            background-color: var(--nav-bar-desktop);
            width: 100%;
            height: 5vh;
            position:fixed;
            z-index: 100;
             /* Ver como arreglar esto */
        }

        .main-nav-bar{
            margin: auto;
            display: flex;
            width: 50%;
            
        }
        .nav-opt{
            width: 100%;
            display: flex;
            justify-content: space-between;
            text-align: center;
            
        }

        .nav-opt-box{
            width: inherit;
            margin: auto;

        }

        .nav-link{
            color:#f1f1f1;
        }

        .main-content{
            width: 100%;
            height: 100%;
            background-color: aliceblue;
        }
        /* TITULO */
        .main-title{
            background-color: var(--color-title);
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            
            
        }


        .title{
            width: 60%;
            height: inherit;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            
        }


        .title:hover{
            background-size: 100% 100%;
            transition: all .6s;
        }

        .title h1{
            font-size: 100px;
            padding: 0;
            color: #f1f1f1;
            background-position: left;
            background-size: 0% 100%;
            background-image: linear-gradient(to right, transparent, #f19a41) ;
            border-radius: 25px;

        }
        .title p{
            margin: 0%;
            color: #f1f1f1;
            font-size: 70px;

        }

        .title h1:hover{
            background-size: 100% 100%;
            transition: all .6s;

        }

        .title p:hover{
            text-decoration: underline #f19a41 ;
            transition: all .6s;
        }

        .title-image{
            width: 40%;
            height: inherit;
        }

        .title-image ,img{
            width: 600px;
            height: 600px;
        
        }

        /* CONTENIDO ACERCA DE MI  */

        #about-me{
            height: 3vh;
        }

        .content-title{
            background-color: var(--color-title);
            margin-top: 3vh;
            margin-bottom:3vh;
            color: #f1f1f1;
            text-align: left;
            font-size: 80px;
            height: 15vh;
            width: 100vw;
        }

        .content{
            background-color: beige;
            width: 100%;
            height: 89vh;
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 10vh;
        }

        .box, h2{
            text-align: center;
            
        }

        .box  p{
            text-align: justify;
            padding: 20px;
        }


        /* CONTENIDO PROYECTOS */
        #projects-box{
            height: 3vh;
        }
        .projects-title{
            background-color: var(--color-title);
            margin-top: 2vh;
            
            color: #f1f1f1;
            text-align: left;
            font-size: 80px;
            height: 15vh;
            width: 100vw;
        }


        .main-page-services{
            width: 100%;
            height: 83vh;
            display: grid;
            grid-template-columns: 40vw 40vw;
            grid-template-rows: 41.5vh 41.5vh;
            margin-left: 10vw;
            margin-right: 10vw;
            overflow: hidden;
        }

        .main-page-services-article{
            margin-top: 2vh;

            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        .main-page-services-article p{
            flex-grow: .5;
            padding-left: 10px;
            padding-right: 10px;
            text-align: justify;
        }
        .btn{
            margin: auto !important;

        }


        /* LOCATION  */


        #location-box{
            width: 100vw;
            height: 5vh;
        }

        .location-page{
            height: 40vh;
            width: 100%;
            margin-top: 3vh;
            display: flex;
            justify-content: space-between;

        }
        .location-info{
            width: 50%;
            margin: auto;
            text-align: center;
        }
        .location-map{
            width: 50%;
            display: flex;
            flex-wrap: nowrap;
        }

        .location-map iframe{
            width: inherit;
            margin: auto;
            
            padding-right: 20px;
        }

        /* CONTACTO */

        #contact-box{
            height: 5vh;
        }
        .form-main-container{
            height: 50vh;
            width: 100%;
            margin-top: 5vh;
            display: flex;
            justify-content: space-around;

        }
        .form-container{
            max-width: 40%;
            margin-right: 10%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;
        }

        .form-main-container h2{
            width: 50%;
            margin: auto;
        }

        .form-item{
            margin-top: 1vh;
            margin-bottom: 1vh;
        }

        .form-btn{
            margin: auto;
            width: 25%;
            height: 15%;
        }


  

    }


    

