    /* Variables Colores */

   :root{
       --nav-bar-color: #f19a41
   } 



/* Global Configs*/
*{
    
    padding: 0;
    margin: 0;

}

html, body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: #f1f1f1;
}

a{
    text-decoration: none;
    color:black;

}
li{
    list-style: none;
}

    /* Tablet Landscape */
 /* @media screen and (min-width:1024px) and (orientation:landscape) { */
    /* Cosas que no quiero ver */

/* 
    .main-nav-bar{
        display: none;
    }

    #menuToggle ,.fa-bars{
        display: none;
    }


    .main-body{
        display: grid;
    }
     */

    /* Nav Bar */
/*     
    .main-header{
        height: 100%;
        width: 75px;
        position: fixed;
        top:0;
        left:0;
        z-index: 100;
        background-color: var(--nav-bar-color);
        overflow-x:hidden;

        }

    .brand{
        display: none;
        position: relative;
        margin: 0;
        height: inherit;
        float:bottom;
    }
       */
    
        
    /* .brand b{
        position: relative;
        text-align: end;
         } */
/* 
         .responsive-nav-bar{
          
            height: 100%;
            width: inherit;
            display: flex;
            flex-direction: column;
        

        }
        .responsive-nav-opt{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: inherit;
            height: inherit;
            text-align: center;
            margin-left: auto;
            margin-right: auto;


        }
        .nav-opt > .nav-opt-box{
            width: 13vw;
            
            
        }
        .nav-opt-box > a ,i {
            margin-right: auto;
            font-size: 1.8rem;
        }
 */
    /* Titulo Principal */

/* 

        .main-title{
            display: inline-block;
            background-color: bisque;
            margin-right: 75px;
            width: ;
            height: 150px;
            position: relative;
            text-align: center;
          
        
        }
        h1{
            width: inherit;
            height: inherit;
            line-height: 50px;
        }

        .content{
            display: flex;
            flex-direction: row;
        }


 }
    
          */


    /* Responsive with Grid */

    @media screen and (min-width:1024px) and (orientation:landscape){

        .main-nav-bar{
            display: none;
            
        }
    
        #menuToggle ,.fa-bars{
            display: none;
        }

        .main-body{
            display: grid;
            grid-template-columns: 7% 90%;
        }

        .main-header{
            width: 7%;
            height: 100%;
            background-color: var(--nav-bar-color);
            position: fixed;
            display:flex;
            flex-direction: column-reverse;
        }

        .main-content{
            grid-column-start: 2;
            column-gap: 0;

        }

        .responsive-nav-bar{
          
            height: 100%;
            display: flex;
            flex-direction: column;
        

        }
        .responsive-nav-opt{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: inherit;
            height: inherit;
            text-align: center;
            margin-left: auto;
            margin-right: auto;


        }
        .nav-opt > .nav-opt-box{
            width: 13vw;
            
            
        }
        .nav-opt-box > a ,i {
            margin-right: auto;
            font-size: 1.8rem;
        }


        .main-title{
            width: 100%;
            height: 250px;
            display: flex;
        }
        .main-title > h1{
            margin: auto;
        }

        .content{
            display:flex;
            margin-bottom: 20px;

        }

        .main-page-services{
            margin-bottom: 1vw;
            display:grid;
            grid-template-columns: 1fr 1fr;
        }

        .location-page{
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
        }
        .location-info{
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
        }
        

    }

@media screen and (max-width:400px ) {
        .main-nav-bar{
            display: none;
        }
        .main-header , #nav-bar{
            overflow: hidden;
            position: sticky;
            z-index: 100;
            top: 0;
            width: 100%;
            height: 50px;
            background-color: lightcoral;
            padding: 0;
            margin: 0;
        }

        .brand{
            display: inline-block;
            position: relative;
            float: left;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
            margin: 0;
            height: inherit;
            display:flex
            

        }
        .brand b{
           margin: auto;
        }

        .responsive-nav-bar{

            position: relative;
            float: right;
            height: inherit;
            width: 60%;
            display: flex;
        

        }
        .responsive-nav-opt{
            display: flex;
            flex-direction: row;
            width: 80%;


        }
        .responsive-nav-opt > .nav-opt-box{
            width: 25%;
            margin: auto;
        }

        .main-title{
            background-color: bisque;
            width: 100%;
            height: 100px;
            position: relative;
            text-align: center;
          
        
        }
        h1{
            width: inherit;
            height: inherit;
            line-height: 50px;
        }

        .content{
            width: inherit;
            display: flex;
            flex-direction: column;
            background-color: aqua;
;
        }
        .content > .box{
            text-align: center;
            background-color: aliceblue;
            margin-top: 10px;
            margin-bottom: 10px;
       
        }

        .main-page-services	{
            width: 100%;
            height: fit-content;
            background-color: navajowhite;
            display: flex;
            flex-direction: column;
            


        }

        .main-page-services-article{
            width: inherit;
            height: fit-content;
            display: flex;
            flex-direction: column;
            background-color: azure;
            margin-top: 10px;
            margin-bottom: 10px;
        



        }
        
        .main-page-services-article-title{
            text-align: center;
        }

        .main-page-services-article p {
            padding-left:10px ;
            padding-right: 10px;

        }
        
        .main-page-services-article .btn-service{

            margin-left: auto;
            margin-right: auto;
            



        }

        .location-page{
            display: flex;
            flex-direction: column;
            background-color: red;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        .location-info{
            display: flex;
            flex-direction: column-reverse;
            
        }
        .form-main-container{
            display: flex;
            flex-direction: column;
            background-color: beige;


        }

        .form-main-container > h2{
            padding-left: 5px;
        }

        .form-container{
            display: flex;
            flex-direction: column;
        }
        .form-item{
            width: 65%;
            margin: 5px;
        }


        }



/* RESPONSIVE MOVIL */


/* 
@media screen and (min-width:768px){
    .main-nav-bar{
        width: 100%;
        height: auto;

    }

    .main-nav-bar .nav-opt{
        display: flex;
        flex-direction: column;
        
        max-height: 0;
        overflow: hidden;
       
        transition: max-height .3s;
    }

    .main-nav-bar ul li  {
        text-align: center;
        width: 100%;
        height: 50px;
        background-color: olive;
        padding: 10px 0px 10px 5%;
    }
    .menu-icon {
        width: 100px;
        height: inherit;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 60px;
    }

    #menuToggle:checked ~ ul {
        max-height: 350px;
        z-index: 1000;
    }
    .menu-icon i {
        font-size: 1.7em;
    }

    .content{
        display: flex;
        width: 100%;
        height: 100%;
        background-color: aquamarine;
        flex-direction: column;
        transition: all .5s;

    
    }
    
    .box {
        width: 100%;
        height: 40%;
        margin: 1%;
        background-color: red;
    }
    /* .main-content{
        display: block;
    
        background-color: blueviolet;
        width: 100%;
        height: 100%;
        margin-left: 0.625rem;
        margin-right: 0.625rem;
    } */
    /* .main-content h2{
        text-align: center;
    } */
    
    /* .main-page-services{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items:flex-start ;
        background-color: bisque;
        width: 100%;
        height: 100vh;
    
    } */
    /* Testeo */
    /* .main-page-services-article-img{
        display: none !important;
    } */


    /* fin testeo */
/* 
    .main-page-services-article{
        display: flex;
        flex-direction: column;
        background-color: green ;
        height: 100vh;
        width: 100%;
 
        border: 1px solid black;
    
    }
     */
    /* .main-page-services-article-title{
        text-align: center;
    }
    .main-page-services-article-img{
        width: 100%;
    } */
    
    /* .main-page-services-article .btn-service{
        position: relative;
        top: 1%;
        left: 30%;
    }
    

